html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* html.dark {
  background: #121212;
  color-scheme: dark;
} */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(252, 59, 87);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.text-hover {
  --at-apply: relative inline-block cursor-pointer;
}

.text-hover:before {
  --at-apply: bg-red-300 h-1 w-0 rounded-full -z-10 absolute left-0 bottom-3px transition-all
    duration-300;
  content: '';
}

.text-hover:hover:before {
  --at-apply: w-90% left-0 right-0 width: 90%;
}
